:root {
    background-color: #1d3648;
}

body {
    color: #dfdfdf;
    margin: 1rem;
    padding: 0;
}

a {
    color: inherit;
}

.l_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.referrer_link {
    margin: -1rem 0 4rem;
}

.graph {
    margin: 0 0 3rem;
    min-height: 200px;
    max-width: 460px;
    width: 100%;
}

.graph>svg {
    width: 100%;
}

.graph>figcaption {
    font-size: 1.5rem;
    text-align: center;
}

.selectCatInput {
    font-size: 1rem;
    margin-left: 0.25rem;
}